.logo img {
    max-width: 200px;
}
.login-logo img {
  width: auto!important;
}
.temerso-color,.callout.callout-info,.alert-info,.label-info,.modal-info .modal-body {
    background-color: #ec628b !important
}
body {
  font-family: "Open Sans", sans-serif !important;
}
/*rgb(144, 36, 68) -> #902444 | темнее #751934 | самый светлый #ec628b (марина #f08080)*/
/*#902344*/

.table-head-top.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table-body-left.table > tbody > tr > td {
    text-align: left;
}
.text-left {
    text-align: left!important;
}
