.logo img {
    max-width: 200px;
}
.login-logo img {
  width: auto!important;
}
.temerso-color,.callout.callout-info,.alert-info,.label-info,.modal-info .modal-body {
    background-color: #ec628b !important
}
body {
  font-family: "Open Sans", sans-serif !important;
}
/*rgb(144, 36, 68) -> #902444 | темнее #751934 | самый светлый #ec628b (марина #f08080)*/
/*#902344*/
