{# @var taskList \App\Classes\Task\TaskMenuItem[]  #}
{% extends 'standard_layout.html.twig' %}
{% block content %}
    <div class="sonata-ba-content">
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <div>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Задания ожидающие проверки</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-hover">
                                <tbody>
                                {% for taskItem in taskList %}
                                    <tr>
                                        <td class="sonata-ba-list-label" width="40%">
                                            {{ taskItem.title }}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-flat" href="{{ taskItem.route }}">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    {{ taskItem.routeTitle|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}