{% extends '@app/crud/edit.html.twig' %}
{% block sonata_post_fieldsets %}
    <div class="well js-repair-card-list" data-card_url="{{ path('admin_app_card_list') ~ '?filter[repair][value]=' }}"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/returnFormRepairEdit.js') }}" type="text/javascript"></script>
{% endblock %}