{# templates/CRUD/list__action_clone.html.twig #}

{#<a class="btn btn-sm" href="{{ admin.generateObjectUrl('excel', object) }}">excel</a>#}
<a href="{{ admin.generateObjectUrl('excel', object) }}" class="btn btn-sm btn-default view_link" title="Excel">
    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    Excel
</a>