<script>
    {% autoescape 'js' %}
    window.addEventListener("load", function () {
        AdminEquipmentKitModel.init();
    });

    const AdminEquipmentKitModel = (function () {
        let $templateCards, $templateSpecification, $kitTitleInput, $addKitArea, $kitsArea,
            // Каталог - добавляем карточки или характеристики
            $withKitInput = null,
            // Тип комплекта
            $kitTypeInput = null
        ;
        let kitCounter = 0;

        const specificationInputName = "{{ form.vars.prototype.children.specification.vars.full_name }}";
        const kitTitleInputName = "{{ form.vars.prototype.children.title.vars.full_name }}";

        let rowTemplate = `<tr>
                        <input type="hidden" name="{{ form.vars.prototype.children.card.vars.full_name }}" value="{id}">
                        <td class="sonata-ba-list-field sonata-ba-list-field-batch">
                            {orderNumber}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {title}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-select">
                            <a class="btn btn-primary" href="#">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Убрать
                            </a>
                        </td>
                    </tr>`;

        const init = () => {
            console.info('AdminEquipmentKitModel init');
            $templateCards = $('#template-cards');
            $templateSpecification = $('#template-specification');
            $kitTitleInput = $('#title-kit');
            $addKitArea = $('#add-kit-area');
            $withKitInput = $('[name$="[withKit]"]'); // Каталог
            $kitTypeInput = $('[name$="[kitType]"]'); // Выбрать тип комплекта
            $kitsArea = $('#kits-area'); // Место для комплектов

            adminListModel.setRowTemplate(rowTemplate);
            adminListModel.rowTemplateCreateSub.push(cardRowTemplateParams);

            initEvent();
        };
        const initEvent = () => {
            $('#add-kit').on('click', addKit);
            $(document).on('click', '.js-add-specification', addSpecification);
            // Выбрать тип комплекта
            $kitTypeInput.on('change', changeKitType).trigger('change');
            $withKitInput.on('change', changeCatalog);

        };
        const addKit = function (e) {
            e.preventDefault();

            // Проверяем на загаловок Комплекта
            if (!$kitTitleInput.val().trim()) {
                alert('Необходимо задать название комплекта');
                return;
            }

            const inputValue = $withKitInput.val();

            // С выборкой из каталога
            if (inputValue === 'withCatalog') {
                $template = $templateCards;
            } else {
                $template = $templateSpecification;
            }

            $newTemplate = $($template.html()
                // Заголовок группы
                    .replace('{kitTitle}', $kitTitleInput.val())
                    // Породяковый номер
                    .replace('{index}', kitCounter)
            );

            const kitTitleIndex = kitTitleInputName.replace('__name__', kitCounter);
            $newTemplate.prepend($(`
            <input type="hidden" name="${kitTitleIndex}" value="${$kitTitleInput.val()}">
            `));


            // Добавляем на страницу
            // $addKitArea.before($newTemplate);
            // $kitsArea.prepend($newTemplate);
            $kitsArea.append($newTemplate);

            // Задаем название для комплекта по умолчанию. kitCounter равен 0 прибавляем 2 что бы получить порядковый номер
            $kitTitleInput.val('Комплект ' + (kitCounter + 2));
            kitCounter += 1;

            adminListModel.setTableList($newTemplate.find('.js-card-list'));
        };

        const cardRowTemplateParams = (rowTemplate, $tableList) => {
            const $kitTemplate = $tableList.closest('.js-kit-template');
            return rowTemplate
                .replace(/__name__/g, $kitTemplate.data('kit_index'))
                .replace('{kitTitle}', $kitTemplate.find('.panel-title').html())
                ;
        };

        // Выбрать тип комплекта
        const changeKitType = (e) => {
            const element = e.target;
            const selected = element.options[element.selectedIndex].value;

            hideInputGroup(['cardCount', 'kitCount', 'kitCardCount']);

            // Если будет выбирать из каталога то эти значения не нужны
            // if ($withKitInput.val() === 'withCatalog') return;

            if (selected === 'multi') {
                showInputGroup(['kitCount', 'kitCardCount']);
            } else {
                showInputGroup(['cardCount']);
            }

            // Удаляем созданные ранее комплекты
            $kitsArea.html('');
        };

        // Каталог
        const changeCatalog = (e) => {
            $kitTypeInput.trigger('change');
        };

        const hideInputGroup = (inputsName) => {
            inputsName.map((inputName) => {
                const $input = $('[name$="[' + inputName + ']"]');
                $input.removeAttr('required');
                $input.closest('.form-group').addClass('hidden');
            });
        };

        const showInputGroup = (inputsName) => {
            inputsName.map((inputName) => {
                const $input = $('[name$="[' + inputName + ']"]');
                $input.attr('required', 'required');
                $input.closest('.form-group').removeClass('hidden');
            });
        };

        const addSpecification = (e) => {
            e.preventDefault();
            const $button = $(e.target);
            const $table = $button.closest('.form-group').find('table');
            const $tableHead = $table.find('thead tr');
            const $tableBody = $table.find('tbody');

            $tableHead.html('');
            $tableBody.html('');

            CrudEditModel.modalByUrl(
                $button.attr('href'), {

                    showCallback: ($modal) => {
                        $modal.find('.form-actions').remove();
                    },

                    buttonCallback: (event, $modal) => {

                        const $tableBodyTr = $('<tr>');
                        $modal.find('.modal-body').find('[name]').each((index, input) => {
                            const $input = $(input);
                            const inputName = $input.attr('name').replace(/.+\[(.+)\]/, '$1');
                            if (inputName === '_token') return;

                            const label = $input.closest('.form-group').find('label').html().trim();
                            let title, value = null;

                            if ($input.is('select')) {
                                title = $input.find(':selected').text();
                                value = $input.find(':selected').val();
                            } else {
                                title = $input.val();
                                value = title;
                            }

                            $tableHead.append(
                                $(`<th class="sonata-ba-list-field-header-text">
                                    ${label}
                                </th>`)
                            );

                            const inputPath = specificationInputName.replace('__name__', kitCounter - 1);
                            $tableBodyTr.append(
                                $(`<td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    ${title}
                                    <input type="hidden" name="${inputPath}[${inputName}]" value="${value}">
                                </td>`)
                            );
                        });
                        $tableBody.append($tableBodyTr);

                        $table.removeClass('hidden');

                        $modal.modal('hide');
                    }
                }
            );
        };

        const getAmountOfKit = (elementSelector) => {
            const kitsAmount = [];
            $kitsArea.find(elementSelector).each((index, htmlElement) => {
                const $kit = $(htmlElement);
                const kitCardsAmount = $kit.find('.js-card-list tbody tr:not(#row-empty)').length;
                kitsAmount.push({title: $kit.find('.panel-title').text(), cardsAmount: kitCardsAmount});
            });

            return kitsAmount;
        };

        /**
         * для "С выборкой из каталога"
         * Количество комплектов и карточек в комплекте
         *
         * @returns {Array}
         */
        const getAmountOfKitCards = () => {
            return getAmountOfKit('.js-kit-cards');
        };

        /**
         * Количество комплектов с техническими характеристиками
         *
         * @returns {number}
         */
        const getAmountOfKitSpecification = () => {
            return getAmountOfKit('.js-kit-specification');
        };

        return {init, getAmountOfKitCards, getAmountOfKitSpecification}
    })();
    {% endautoescape %}
</script>