<script>
    {% autoescape 'js' %}
    window.addEventListener("load", function () {
        AdminEquipmentKitModel.init();
    });

    const AdminEquipmentKitModel = (function () {
        let $templateCards, $templateSpecification, $kitTitleInput, $addKitArea,
            // Каталог - добавляем карточки или характеристики
            $withKitInput = null;
        let kitCounter = 0;

        let rowTemplate = `<tr>
                        <input type="hidden" name="{{ form.vars.prototype.children.title.vars.full_name }}" value="{kitTitle}">
                        <input type="hidden" name="{{ form.vars.prototype.children.card.vars.full_name }}" value="{id}">
                        <td class="sonata-ba-list-field sonata-ba-list-field-batch">
                            {orderNumber}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-text">
                            {title}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-select">
                            <a class="btn btn-primary" href="#">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Убрать
                            </a>
                        </td>
                    </tr>`;

        const init = () => {
            console.log('AdminEquipmentKitModel init');
            $templateCards = $('#template-cards');
            $templateSpecification = $('#template-specification');
            $kitTitleInput = $('#title-kit');
            $addKitArea = $('#add-kit-area');
            $withKitInput = $('[name$="[withKit]"]');

            adminListModel.setRowTemplate(rowTemplate);
            adminListModel.rowTemplateCreateSub.push(cardRowTemplateParams);

            initEvent();
        };
        const initEvent = () => {
            $('#add-kit').on('click', addKit);
            // Выбрать тип комплекта
            $('[name$="[kitType]"]').on('change', changeKitType).trigger('change');

        };
        const addKit = function(e) {
            e.preventDefault();
            console.log('add kit');

            const withKitValue = $withKitInput.val();
            console.log(withKitValue);

            // С выборкой из каталога
            if(withKitValue === 'withCatalog') {
                $template = $templateCards;
            } else {
                $template = $templateSpecification;
            }

            $newTemplate = $($template.html()
                // Заголовок группы
                .replace('{kitTitle}', $kitTitleInput.val())
                // Породяковый номер
                .replace('{index}', kitCounter)
            );
            // Добавляем на страницу
            $addKitArea.before($newTemplate);

            // Обнуляем заголовок
            $kitTitleInput.val('');
            kitCounter += 1;

            adminListModel.setTableList($newTemplate.find('.js-card-list'));
        };

        const cardRowTemplateParams = (rowTemplate, $tableList) => {
            const $kitTemplate = $tableList.closest('.js-kit-template');
            return rowTemplate
                .replace(/__name__/g, $kitTemplate.data('kit_index'))
                .replace('{kitTitle}', $kitTemplate.find('.panel-title').html())
                ;
        };

        const changeKitType = (e) => {
            const element = e.target;
            const selected = element.options[element.selectedIndex].value;
            if(selected === 'multi') {
                showInputGroup(['kitCount', 'kitItemCountType']);
                hideInputGroup(['itemCountType']);
            } else {
                showInputGroup(['itemCountType']);
                hideInputGroup(['kitCount', 'kitItemCountType']);
            }
            console.log(selected);
        };

        const hideInputGroup = (inputsName) => {
            inputsName.map((inputName) => {
                $('[name$="[' + inputName + ']"]').closest('.form-group').addClass('hidden');
            });
        };

        const showInputGroup = (inputsName) => {
            inputsName.map((inputName) => {
                $('[name$="[' + inputName + ']"]').closest('.form-group').removeClass('hidden');
            });
        };

        return {init}
    })();
    {% endautoescape %}
</script>